<div data-id="<%= message.user.id %>" class="message-outer-wrap"><span class="message-username <%= message.user == current_user(message.group) ? 'by-current-user' : 'message-guest' %>">@<%= message.user.username %>:</span> <span class="message-content"><%= EncryptText.decrypt(message.body, nil, message.iv) %></span><br />
</div>
