<div id="message-box" data-id="<%= message.user.id %>" class="message-outer-wrap"><span class="message-username royal">@<%= message.user.username %>:</span> <span class="message-content"><%= message.body %></span><br /></div>
