/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700');

body{
	font-family:"Montserrat"
}
.group-new-section-1{
  background: #30168E;
  background: -webkit-linear-gradient(left top, #30168E, #724FEF);
  background: -o-linear-gradient(bottom right, #30168E, #724FEF);
  background: -moz-linear-gradient(bottom right, #30168E, #724FEF);
  background: linear-gradient(to bottom right, #30168E, #724FEF);
}
.group-new-right-top{
	padding:20px;
	margin:auto;
	width:85%;
}
.new_group{
	background:none;
}
.create-group-form{
	border: 1px solid #DDDDDD;
	border-radius:3px;
	margin-bottom:10px;
}

.cgf-header{
	/*background:#F5F5F5;*/
	color:white;
	font-size:24px;
	background:rgba(255,255,255,0.1);
	text-align:center;
	border-bottom:1px solid #DDDDDD;
	padding:20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white !important;
}
::-moz-placeholder {
  color: white !important;
}
:-ms-input-placeholder {
  color: white !important;
}
:-moz-placeholder {
  color: white !important;
}
.cgf-input-container{
	padding:20px;
	input{
		height:50px;
		background-color:rgba(255,255,255,0.1);
  		color: white !important;
	}
}

.group-btn{
	width:100%;
}

.group-header{
	font-size:24px;
	text-align:center;
	padding:20px;
	margin-top:50px;
	color:white;
}

.group-btn{
    color: #fff;
    height:50px;
    background-color: rgba(0,0,0,0) !important;
	display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    border:1px solid white !important;
    &:hover{
    	color:white;
    	background-color: #5738C8 !important;
    }
}

.home-description{
	margin:auto;
	width:45%;
	font-size:18px;
	font-weight:300;
}


.create-group-form label{
	color:white !important;
	font-weight:500;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}


/* MUH SLIDER */


.eleven-columns li {
  width: calc(100% / 5);
  font-size:12px;
}


/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */

.no-ui-slider {
  width: 100%;
}

.no-ui-slider .slider-labels {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  margin-left:3px;
  width: 100%;
  text-align: left;
  font-size: 13px;
}

.no-ui-slider .slider-labels li {
  color: #d3d3d3;
  display: inline;
  float: left;
  cursor: pointer;
}

.no-ui-slider .slider-labels li:nth-last-child(1) {
  position: absolute;
  margin-left: -3px;
  width: 25px;
}

.no-ui-slider .slider-labels li:hover {
  color: white;
}

.no-ui-slider .slider-labels li.active {
  color: white;
}

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
  cursor: move;
}

.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}

.noUi-stacking + .noUi-origin {
  /* Fix stacking order in IE7, which incorrectly
   creates a new context for the origins. */
  *z-index: -1;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}


/* Slider size and handle placement;
 */

.noUi-horizontal {
  height: 15px;
}

.noUi-horizontal .noUi-handle {
  width: 26px;
  height: 26px;
  left: -13px;
  top: -7px;
  border-radius: 100%;
}

.noUi-horizontal.noUi-extended {
  padding: 0 15px;
}

.noUi-horizontal.noUi-extended .noUi-origin {
  right: -15px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 20px;
  height: 20px;
  left: -10px;
  top: -6px;
  border-radius: 100%;
}

.noUi-vertical.noUi-extended {
  padding: 15px 0;
}

.noUi-vertical.noUi-extended .noUi-origin {
  bottom: -15px;
}


/* Styling;
 */

.noUi-background {
  background: #FAFAFA;
  box-shadow: inset 0 1px 1px #f0f0f0;
}

.noUi-connect {

  background:#E2959F;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 10px;
}

.noUi-target {
  border-radius: 10px;
  border: 1px solid #D3D3D3;
}

.noUi-target.noUi-connect {
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #BBB;
}


/* Handles and cursors;
 */

.noUi-dragable {
  cursor: w-resize;
}

.noUi-vertical .noUi-dragable {
  cursor: n-resize;
}

.noUi-handle {
  border: 1px solid #464646;
  border-radius: 100%;
  background: #464646;
  cursor: default;
}

.noUi-active {}


/* Handle stripes;
 */

.noUi-handle:before,
.noUi-handle:after {
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}


/* Disabled state;
 */

[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* MUH SLIDER END */


textarea {
   resize: none;
}


.ui-slider-handle:focus, ui-corner-all:focus, ui-state-default:focus, slider4, green, ui-slider, ui-corner-all, ui-slider-horizontal, ui-widget ui-widget-content, ui-slider-pips, ui-slider-float{
outline:0;

}