/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require social-share-button
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
 @import "social-share-button";

html,body,.group-left, .group-right,.create-group-form{
	font-family:"Montserrat";
  height:100%;
}
.group-right{
  padding-left:0 !important;
  padding-right:0;
}
.group-new-section-1{
  background: #30168E;
  background: -webkit-linear-gradient(left top, #30168E, #724FEF);
  background: -o-linear-gradient(bottom right, #30168E, #724FEF);
  background: -moz-linear-gradient(bottom right, #30168E, #724FEF);
  background: linear-gradient(to bottom right, #30168E, #724FEF);
}
.group-new-right-top{
	padding:20px;
	margin:auto;
  margin-top:50px !important;
	width:85%;
}
.new_group{
	background:none;
}
.create-group-form{
	border: 1px solid #DDDDDD;
	border-radius:3px;
	margin-bottom:10px;
}

.cgf-header{
	/*background:#F5F5F5;*/
	color:white;
	font-size:24px;
	background:rgba(255,255,255,0.1);
	text-align:center;
	border-bottom:1px solid #DDDDDD;
	padding:20px;
}


.cgf-input-container{
	padding:20px;
	input{
		height:50px;
		background-color:rgba(255,255,255,0.1);
  		color: white;
	}
}

.group-btn{
	width:100%;
  color: #311790 !important;
  font-size:18px;
}

.group-header{
	font-size:24px;
	text-align:center;
	padding:20px;
	margin-top:70px;
	color:white;
}

.group-btn{
    color: #311790 !important;
    height:50px;
    background-color: white !important;
	display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    border:1px solid white !important;
    &:hover{
    color: #311790 !important;
    background-color: white !important;
    }
}

.home-description{
	margin:auto;
	width:45%;
	font-size:18px;
	font-weight:300;
}


.create-group-form label{
	color:white;
	font-weight:500;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}


/* MUH SLIDER */


.eleven-columns li {
  width: calc(100% / 5);
  font-size:12px;
}


/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */

.no-ui-slider {
  width: 100%;
}

.no-ui-slider .slider-labels {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  margin-left:3px;
  width: 100%;
  text-align: left;
  font-size: 13px;
}

.no-ui-slider .slider-labels li {
  color: #d3d3d3;
  display: inline;
  float: left;
  cursor: pointer;
}

.no-ui-slider .slider-labels li:nth-last-child(1) {
  position: absolute;
  margin-left: -3px;
  width: 25px;
}

.no-ui-slider .slider-labels li:hover {
  color: white;
}

.no-ui-slider .slider-labels li.active {
  color: white;
}

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
  cursor: move;
}

.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}

.noUi-stacking + .noUi-origin {
  /* Fix stacking order in IE7, which incorrectly
   creates a new context for the origins. */
  *z-index: -1;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}


/* Slider size and handle placement;
 */

.noUi-horizontal {
  height: 15px;
}

.noUi-horizontal .noUi-handle {
  width: 26px;
  height: 26px;
  left: -13px;
  top: -7px;
  border-radius: 100%;
}

.noUi-horizontal.noUi-extended {
  padding: 0 15px;
}

.noUi-horizontal.noUi-extended .noUi-origin {
  right: -15px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 20px;
  height: 20px;
  left: -10px;
  top: -6px;
  border-radius: 100%;
}

.noUi-vertical.noUi-extended {
  padding: 15px 0;
}

.noUi-vertical.noUi-extended .noUi-origin {
  bottom: -15px;
}


/* Styling;
 */

.noUi-background {
  background: #FAFAFA;
  box-shadow: inset 0 1px 1px #f0f0f0;
}

.noUi-connect {

  background:#E2959F;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 10px;
}

.noUi-target {
  border-radius: 10px;
  border: 1px solid #D3D3D3;
}

.noUi-target.noUi-connect {
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #BBB;
}


/* Handles and cursors;
 */

.noUi-dragable {
  cursor: w-resize;
}

.noUi-vertical .noUi-dragable {
  cursor: n-resize;
}

.noUi-handle {
  border: 1px solid #464646;
  border-radius: 100%;
  background: #464646;
  cursor: default;
}

.noUi-active {}


/* Handle stripes;
 */

.noUi-handle:before,
.noUi-handle:after {
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}


/* Disabled state;
 */

[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* MUH SLIDER END */


textarea {
    border:2px solid #E0E0E0;
   resize: none;
}
#new_message textarea{
      border:2px solid #E0E0E0 !important;
      height:40px;
      margin:auto;

}
#new_message textarea:focus,#new_message textarea:active{
       border:2px solid #E0E0E0 !important;
}

.ui-slider-handle:focus, ui-corner-all:focus, ui-state-default:focus, slider4, green, ui-slider, ui-corner-all, ui-slider-horizontal, ui-widget ui-widget-content, ui-slider-pips, ui-slider-float{
outline:0;

}

.create-group-form, .group-new-section-1{
  min-height:100%;
  position:relative;
}

.group-left, .group-right{
/*  min-height:100%;
  display:table;
  height:100%;*/
  position:relative;
}

.group-left{
  background:#3B3E99;
  padding-left:0 !important;
  padding-right:0 !important;
}


.msg-wrapper {
  vertical-align: bottom;
  height: 400px;
}
.msg-content {
  max-height: 400px;
  overflow: scroll;
  max-width:100%;
}

.group-left-top{
background-color:black;
  width:100%;
  position:absolute;
}

.top-btn-left{
  margin-top:26px;
  position:relative;
  text-align:center;
  color:white;
  font-size:24px;  
  transiton: ease-in-out 0.2s;
  &:hover{
  color:#3B3E99;
  }
  i::before{
    margin-top:10px;
  }
}

.top-left{
  left:0 !important;
  position:relative !important;
}
.top-right{
  text-align:right;
  right:0 !important;
  position:relative !important;
}

.top-btn-right{
  text-align:right;
  position:relative;
  right:0 !important;
  top:0;
  color:white;
  font-size:32px;
  transiton: ease-in-out 0.2s;
  &:hover{
  color:#3B3E99;
  }
}

.top-middle{
  font-size:20px;color:white;
  font-weight:500;
  text-align:center;
  padding-top:15px;
}

.top-mid-wrap{
padding-top:10px;
text-align:center;
}

.glc-wrap{
  margin-top:50px;
  background-color:#F14D7B;
  color:white;
}

.username-wrap{
  color:white;
  font-weight:300;
}

.group-left-top{
  margin-left:0 !important;
  margin-right:0 !important;
}

.guest-name{
  color:white;
  font-size:18px !important;
  font-weight: bold;  
}

.join-date{
  color:white;
  font-size:12px !important;
}


@media screen and (max-width:1000px){
  .group-left{
     display:none !important;
  }
  /*.msg-input-wrap{
    bottom:15px;
    width: 75%;
    position: fixed;
    left: 50%;
    margin-left: -37.5%;    
  }  */
}
@media screen and (max-width:1000px){
  .group-left-top{
    display:none !important;
  }
}
@media screen and (min-width:1001px){
  .post-content {
    color:white;
    margin-left: 50%;
  }  
}

/* Image Left Text Right */
.post-container {
    margin: 0px 0px 0 0;
    border: 1px solid #333;
    overflow: auto
}
.post-thumb {
    float: left;
    padding-left:10px;
}
.post-thumb img {
    display: block;
    margin-top:15px;
    margin-left:15px;
}
.post-content {
    color:white;

}
.post-title {
    font-weight: bold;
    font-size: 200%;
    color:white;
}

/* Image Left Text Right */

.message-username{
  font-weight:500;
}

.message-guest{
  color:#6A737D;
}

.message-content{
  font-weight:400;
}

.by-current-user{
  font-weight:700;
  color:#EB4D5C;
}

.message-outer-wrap{
  padding-top:3px;
  padding-bottom:3px;
}

#messages{
  max-height:450px;
  overflow-y:auto;
  padding-bottom:0px;
  padding-left:5px;
  padding-right:5px;
  overflow-wrap: break-word;
}

.text-area-wrap{

}

.message-box-main-wrap{
  width:100%;
  position:absolute !important;

}

.message-box-main-inner{
  position:relative !important;
  bottom:0 !important;
  width:90%;
}

.msg-input-wrap{
  position:fixed;
  bottom:15px;
  width:90%;
  text-align:center !important;
}

.msg-box-wrap{
  margin:auto;text-align:center;width:100%;  
}

#new_group{
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white !important;
  }
  ::-moz-placeholder {
    color: white !important;
  }
  :-ms-input-placeholder {
    color: white !important;
  }
  :-moz-placeholder {
    color: white !important;
  }
}

#new_message{
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6A737D !important;
  }
  ::-moz-placeholder {
    color: #6A737D !important;
  }
  :-ms-input-placeholder {
    color: #6A737D !important;
  }
  :-moz-placeholder {
    color: #6A737D !important;
  }
}

.social-box-wrap{
  text-align:center;
  height:45px;
  width:100%; 
  background-color:black;
}

.social-box{
    padding-top:2px;
  span{
    color:white !important;
    font-size:16px;
  }  
}

.msg-wrapper{
  padding-left:15px;
}

$size: 24px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}


.usernames-wrap{
  overflow:scroll;
}